:root{
    --azul:#0f637a;
    --amarelo: #ffd900;
}

body{
    background-color: var(--azul);
}

main{
    min-height: 100vh;
    
}

#main-header{
    height: 90px;
}

#app-logo{
    width: 220px;
}

#add-todo{
    font-size: 0;
    background-color: var(--amarelo);
}

#todo-list .card{
    background-color: var(--amarelo);
}

#todos-list .card + .card{
    margin-top: 10px;
}
.todo-text{
    margin: 0;
}

.delete-todo{
    font-size: 0;
}